<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <meta name="Keywords" content="{{keywords}}"> 
    <link rel="stylesheet" href="/dist/home.css">
</head>
<body>
    <script src="/dist/home.min.js"></script>
</body>
</html>