<table>
    <caption>Заявка на сайте Hard Glass</caption>
    <tr>
        <th>Имя:</th>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <th>Номер телефона:</th>
        <td><a href="tel:{{phone}}">{{ phone }}</a></td>
    </tr>
    {% if comment %}
    <tr>
        <th>Комментарий:</th>
        <td>{{ comment }}</td>
    </tr>
    {% endif %}
</table>