// Smartphones
.smartphones-portrait-landscape(@rules) {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) { @rules(); }
}
.smartphones-landscape(@rules) {
    @media only screen and (min-width : 321px) { @rules(); }
}
.smartphones-portrait(@rules) {
    @media only screen and (max-width : 320px) { @rules(); }
}

// IPads
.ipads-portrait-landscape(@rules) {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { @rules(); }
}

.ipads-landscape(@rules) {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { @rules(); }
}

.ipads-portrait(@rules) {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { @rules(); }
}

// IPad 3
.ipad-3-landscape(@rules) {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) { @rules(); }
}

.ipad-3-portrait(@rules) {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) { @rules(); }
}

// PC
.desktops-laptops(@rules) {
    @media only screen  and (min-width : 1224px) { @rules(); }
}

.large-screens(@rules) {
    @media only screen  and (min-width : 1824px) { @rules(); }
}

// IPhones
.iphone-4-landscape(@rules) {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) { @rules(); }
}
.iphone-4-portrait(@rules) {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) { @rules(); }
}

.iphone-5-landscape(@rules) {
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}
.iphone-5-portrait(@rules) {
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}

.iphone-6-landscape(@rules) {
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}
.iphone-6-portrait(@rules) {
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}

.iphone-6-plus-landscape(@rules) {
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}
.iphone-6-plus-portrait(@rules) {
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}

// Samsungs
.samsung-galaxy-s3-landscape(@rules) {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}
.samsung-galaxy-s3-portrait(@rules) {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){ @rules(); }
}

.samsung-galaxy-s4-landscape(@rules) {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){ @rules(); }
}
.samsung-galaxy-s4-portrait(@rules) {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){ @rules(); }
}

.samsung-galaxy-s5-landscape(@rules) {
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){ @rules(); }
}
.samsung-galaxy-s5-portrait(@rules) {
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){ @rules(); }
}