@import './fonts.less';
@import './_variables.less';

html, body {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    @media screen and (max-width: @screen-md) {
        font-size: 15px;
    }
    @media screen and (max-width: @screen-sm) {
        font-size: 14px;
    }
    @media screen and (max-width: @screen-xs) {
        font-size: 13px;
    }
}

* {
    font-family: "UniNeueRegular";
    box-sizing: border-box;
    outline: none;
}

i,em {
    font-style: normal;
    font-family: "UniNeueRegular-Italic";
    strong,b,h1,h2,h3,h4,h5,h6 {
        font-family: "UniNeueBold-Italic";
    }
}
strong,b,h1,h2,h3,h4,h5,h6 {
    font-family: "UniNeueBold";
    i,em {
        font-family: "UniNeueBold-Italic";
    }
}

a {
    text-decoration: none;
    outline: none;
}

body {
    > section {
        margin: 0 auto;
        padding-bottom: 20px;
        > h2 {
            text-align: center;
            margin: 0 auto;
            padding: 40px 0 20px;
            max-width: @screen-md;
        }
        > article {
            padding: 0 20px;
            max-width: @screen-md;
            margin: 0 auto;
        }
    }
}

h1 {
    font-size: 3.3rem;
    line-height: 3.4rem;
}
h2 {
    font-size: 2.8rem;
    line-height: 2.9rem;
}
h3 {
    font-size: 2rem;
    line-height: 2.1rem;
}