@font-face {
    font-family: "UniNeueBlack-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueBlack-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueBlack";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueBlack.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueBold-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueBold-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueBold";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueBold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueBook-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueBook-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueBook";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueBook.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueHeavy-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueHeavy-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueHeavy";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueHeavy.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueLight-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueLight-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueLight";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueLight.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueRegular-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueRegular-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueRegular";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueRegular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueThin-Italic";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueThin-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UniNeueThin";
    src: url("../fonts/UniNeue/Fontfabric - UniNeueThin.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}